h1{
	font-family: 'Times New Roman';
	padding-top: 5px;
	font-size: 50px;
	font-variant:  small-caps;
}
	 
h3{
     color: black;
	 font-family: Verdana;
     font-size: 18px;
	 letter-spacing: 2px;
	 padding-top: 14px;
	 line-height: 10px;
  }
 
.heading{
	font-family: 'Lucida Console';
	font-size: 22px;
	font-weight: bold;
        }
		
p{
	font-family: 'Arial';
	font-size: 15px;
}
		
